{% extends "global/Page.html" %}

{% block title %}{% endblock %}

{% block content %}


<p>Please indicate your agreement with the statement below.</p>

    <br>

<p>Olive trees can communicate with each other using the Internet.</p>

    <div class="d-grid gap-3 d-md-flex">
        <button name="ac2", value="1" class="btn btn-outline-primary me-md-2" btn-lg">Strongly disagree</button>
        <button name="ac2", value="2" class="btn btn-outline-primary me-md-2" btn-lg">Disagree</button>
        <button name="ac2", value="3" class="btn btn-outline-primary me-md-2" btn-lg">Agree</button>
        <button name="ac2", value="4" class="btn btn-outline-primary me-md-2" btn-lg">Strongly Agree</button>
    </div>
    <br>
{% endblock %}