{% extends "global/Page.html" %}

{% block content %}

<p>How do you see yourself?<br>
<strong>Are you a person who trusts artificial intelligence?</strong></p>

<p>
  Please tick a circle on the scale, where the value <strong>0</strong> means
  "<strong>I have no trust at all</strong>" and the value <strong>10</strong> means
  "<strong>I have absolute trust</strong>." You can use the values in between to make your estimation.
</p>

<br>

<table class="scale">
  <tr>
    <td>
      <div class="label">I have<br>no trust<br>at all</div>
      <div class="label">0</div>
    </td>

    <td>1</td><td>2</td><td>3</td><td>4</td><td>5</td>
    <td>6</td><td>7</td><td>8</td><td>9</td>

    <td>
      <div class="label">I have<br>absolute<br>trust</div>
      <div class="label">10</div>
    </td>
  </tr>

  <tr>
    <td><input type="radio" name="ai_trust" value="0"></td>
    <td><input type="radio" name="ai_trust" value="1"></td>
    <td><input type="radio" name="ai_trust" value="2"></td>
    <td><input type="radio" name="ai_trust" value="3"></td>
    <td><input type="radio" name="ai_trust" value="4"></td>
    <td><input type="radio" name="ai_trust" value="5"></td>
    <td><input type="radio" name="ai_trust" value="6"></td>
    <td><input type="radio" name="ai_trust" value="7"></td>
    <td><input type="radio" name="ai_trust" value="8"></td>
    <td><input type="radio" name="ai_trust" value="9"></td>
    <td><input type="radio" name="ai_trust" value="10"></td>
  </tr>
</table>
<br>
{{ formfield_errors 'ai_trust' }}

<br>
<br>
{% next_button %}

{% endblock %}

{% block styles %}
<style>
  .scale { width:100%; border-collapse:collapse; table-layout:fixed; }
  .scale td { padding:0; text-align:center; vertical-align:bottom; }
  .scale .label { text-align:center }
  .scale .desc { font-weight:400; line-height:1.2; }
  .scale input[type="radio"] { display:block; margin:10px auto 0; }
</style>
{% endblock %}
